---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
      Posted {% if page.authors %}by{% for author in page.authors %}{% if forloop.first == false %}{% if forloop.last == true %} and{% else %},{% endif %}{% endif %} <a href="{{ site.data.contributors[author].homepage }}">{{ site.data.contributors[author].name }}</a>{% endfor %}{% endif %} on {{ page.date | date: "%B %e, %Y" }}.
  </div>
  <div class="post-categories">
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
	Categories: 
    {% for category in categories %}
    <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
    {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  </div>

  <!-- {% include disqus.html %} -->
  {% if page.comments %}
  <br/>&nbsp;<br/>
 <div class="comments-block">
     <center><button id="show-comments" onclick="disqus();return false;">SHOW COMMENTS</button></center>
 </div>

 <div id="disqus_thread"></div>

 <script>
 var disqus_loaded = false;
 var disqus_shortname = '{{ site.disqus }}'; //Add your shortname here

 function disqus() {

     if (!disqus_loaded)  {
         disqus_loaded = true;

         var e = document.createElement("script");
         e.type = "text/javascript";
         e.async = true;
         e.src = "//" + disqus_shortname + ".disqus.com/embed.js";
         (document.getElementsByTagName("head")[0] ||
         document.getElementsByTagName("body")[0])
         .appendChild(e);

         //Hide the button after opening
         document.getElementById("show-comments").style.display = "none";
     }
 }

 //Opens comments when linked to directly
 var hash = window.location.hash.substr(1);
 if (hash.length > 8) {
     if (hash.substring(0, 8) == "comment-") {
         disqus();
     }
 }

 //Remove this if you don't want to load comments for search engines
 if(/bot|google|baidu|bing|msn|duckduckgo|slurp|yandex/i.test(navigator.userAgent)) {
    disqus();
 }
 </script>
  {% endif %}
    <br/>&nbsp;<br/>
</article>
