---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
      Posted {% if page.author %}by {{ page.author }} {% endif %}on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <!-- {% include disqus.html %} -->
  {% if page.comments %}
 <script>
  function load_disqus( disqus_shortname ) {
    // Prepare the trigger and target
    var disqus_trigger = document.getElementById('disqus_trigger'),
        disqus_target = document.getElementById('disqus_thread'),
        disqus_embed  = document.createElement('script'),
        disqus_hook   = (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]);

    // Load script asynchronously only when the trigger and target exist
    if( disqus_target && disqus_trigger ) {
      disqus_embed.type = 'text/javascript';
      disqus_embed.async = true;
      disqus_embed.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      disqus_hook.appendChild(disqus_embed);
      disqus_trigger.remove();
      console.log('Disqus loaded.');
    }
  }
  </script>
  <div id="disqus_thread"></div>
    <button id="diqus_trigger" onclick="load_disqus('{{ site.disqus }}')">SHOW COMMENTS</button>
  </div>
  {% endif %}
</article>
